.header-app-bar {
    max-width: 1400px;
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .header-top-list{
        width: auto;
        &>div>div>span{
            background: transparent
        }
        &>div>div>div>button{
            min-width: 100px
        }
    }
    .header-btn-item{
        background:transparent;
        color: $white;
        box-shadow: none;
        &:hover{
            background:transparent;
        }
    }
    .header-badge{
        margin-left: 1.5rem;
        margin-right: 0.5rem;
    }
}

@media(max-width: 1130px) {
    .header-app-bar{
        max-width: 100%;
        .header-btn-item{
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        .header-badge{
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
}

.header-card {
    position: absolute;
    top: 0;
    right: 0.5rem;
    width: 500px;
    .border-solid-1{
        border-bottom: 1px solid $header-mv-bt-color;
    }
    .header-mobile-item-img{
        display: flex;
        align-items: center;
        padding: 1rem;
    }
    .header-mobile-item-letter{
        padding: 1rem;
        h3,p{
            margin: 0;
        }
    }
    .mobile-auth-btn{
        width: 50%;
        padding: 0.8rem;
    }
}

@media(max-width: 510px) {
    .header-card{
        width: 95vw;
    }
}

.header-app-bar-home{
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}