.home-sidebar{
    width: 350px;
    border-right: 2px solid $home-card-border-color;
    .home-sidebar-list{
        padding: 0 !important;
        color: $sidebar-color;
        font-weight: bold;
        .home-sidebar-icon{
            color: $sidebar-icon;
        }
        span{
            font-size: 1.2rem;
            font-weight: bold;
        }
        .Mui-selected{
            background: $sidebar-item-color !important;
            &:active{
                background: $sidebar-item-a-color !important;
            }
        }
    }
}
.home-container{
    width: 100%;
    .home-border-item{
        border: 2px solid $home-card-border-color;
        height: 100px;
        .home-card-content{
            padding-bottom: 0.5rem;
        }
        .home-balance-type{
            color: $home-balance-type-color;
        }
        .home-balance-money{
            color: $home-balance-money-color;
        }
        .home-balance-icon-p{
            background-color: $home-balance-icon-bg-color;
            border-radius: 2rem;
            width: 3em;
            height: 3em;
            .home-balance-icon{
                width: 80%;
                height: 80%;
                color: $sidebar-icon;
            }
        }
        .home-currency-icon-p{
            border-radius: 2rem;
            width: 3em;
            height: 3em;
            .home-balance-icon{
                width: 80%;
                height: 80%;
                color: $sidebar-icon;
            }
        }
    }
    .security-container{
        .sub-header{
            color: $sidebar-color;
            margin: 0;
        }
        .security-item{
            border: 1px solid $security-item;
            .security-icon{
                border: 2px solid $security-item;
                border-radius: 50px;
                width: 60px;
                min-width: 60px;
                height: 60px;
                font-size: 2rem;
                svg{
                    color: $security-item;
                    width: 40px;
                    height: 40px;
                }
            }
            .security-letter1{
                font-size: 1.2rem;
                font-weight: bold;
            }
            .exchange-card-rate-bar{
                background-color: #ecf1f4;
                padding: 3px;
                border-radius: 5px;
                & > div > div > span {
                    background: transparent;
                }
                &>button{
                    color:gray;
                }
                .enable-item{
                    background: $theme-full-btn-color;
                    color: $white !important;
                    box-shadow: 3px 3px 3px gray;
                }
                .disable-item{
                    background:$white;
                    box-shadow: 3px 3px 3px gray;
                }
            }
            .security-change-btn{
                width: 150px;
            }
            button{
                text-transform: capitalize !important;
            }
        }
    }
}