.home-sidebar{
    width: 350px;
    .home-sidebar-list{
        padding: 0 !important;
        color: $sidebar-color;
        font-weight: bold;
        .home-sidebar-icon{
            color: $sidebar-icon;
        }
        span{
            font-size: 1.2rem;
            font-weight: bold;
        }
        .Mui-selected{
            background: $sidebar-item-color !important;
            &:active{
                background: $sidebar-item-a-color !important;
            }
        }
    }
}
.home-container{
    width: 100%;
    .home-border-item{
        border: 1px solid $home-card-border-color;
        .home-card-content{
            padding-bottom: 0.5rem;
            height: 130px;
        }
        .home-balance-type{
            color: $home-balance-type-color;
        }
        .home-balance-money{
            color: $home-balance-money-color;
        }
        .home-balance-icon-p{
            background-color: $home-balance-icon-bg-color;
            border-radius: 2rem;
            width: 3em;
            height: 3em;
            .home-balance-icon{
                width: 80%;
                height: 80%;
                color: $sidebar-icon;
            }
        }
        .home-currency-icon-p{
            border-radius: 2rem;
            width: 3em;
            height: 3em;
            .home-balance-icon{
                width: 80%;
                height: 80%;
                color: $sidebar-icon;
            }
        }
    }
}