// width
.w-100{
    width: 100vw;
}

// display
.d-flex {
    display: flex;
}

// position
.position-fixed {
    position: fixed
}

// justify-content
.justify-content-between {
    justify-content: space-between;
}
.justify-content-right {
    justify-content: right;
}
.justify-content-start{
    justify-content: flex-start;
}

// align Items
.align-items-center {
    align-items: center;
}

// zindex
.z-index-999{
    z-index: 999;
}

// font
.font-weight-bold {
    font-weight: bold !important;
}

// background
.bg-transparent{
    background: transparent !important;
}

// box shadow
.box-shadow-none{
    box-shadow: none !important;
}

// padding
.p-1{
    padding: 1rem;
}
.pt-1{
    padding-top: 1rem;
}
.pt-6{
    padding-top: 6rem;
}
.pl-5{
    padding-left: 5rem;
}

// margin
.mt-1{
    margin-top: 1rem;
}
.ml-1{
    margin-left: 1rem;
}
.mb-3{
    margin-bottom: 3rem
}